.app {
  height: 100%;
  display: flex;
  justify-content: center;
  /* justify-content needs display first */
}

.app-wrapper {
  background-image: linear-gradient(to bottom right, #2193b0, #6dd5ed);
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: inherit;
}
