* {
  outline: none;
}
.app {
  display: flex;
  justify-content: left;
  /* justify-content needs display first */
}

.app-wrapper {
  /* 21b045 */
  position: relative;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  width: 100%;
  height: inherit;
}

.paddles {
  position: relative;
  bottom: 30px;
  left: 38%;
  display: flex;
}

.paddle {
  background: none;
  font-size: 30px;
  border: none;
  padding: 10px;
  color: #ffffff;
}

.paddle:hover {
  cursor: pointer;
}
.paddle.left-paddle {
  padding-right: 30px;
}
.paddle.right-paddle {
  padding-left: 30px;
}

.newPageButton {
  background: none;
  color: white;
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border: white solid 2px;
  border-radius: 10px;
}

.newPageButton:hover {
  cursor: pointer;
}
/* swatches css */

.swatches {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.swatch {
  flex: 0 0 30%;
  font-size: 15px;
  max-width: 70px;
  height: 70px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 35px;
}

.swatch:hover {
  cursor: pointer;
}

.swatch.one {
  background-image: linear-gradient(to bottom right, #80ced7, #007ea7);
}
.swatch.two {
  background-image: linear-gradient(to bottom right, #67b26f, #4ca2cd);
}
.swatch.three {
  background-image: linear-gradient(to bottom right, #7be2a4, #faca59);
}
.swatch.four {
  background-image: linear-gradient(to bottom right, #eeabed, #c4e0e5);
}
.swatch.five {
  background-image: linear-gradient(to bottom right, #654ea3, #eaafc8);
}
.swatch.six {
  background-image: linear-gradient(to bottom right, #e58c8a, #f3d2d6);
}
.swatch.seven {
  background-image: linear-gradient(to bottom right, #3a6186, #89253e);
}
.swatch.eight {
  background-image: linear-gradient(to bottom right, #380036, #0cbaba);
}
.swatch.nine {
  background-image: linear-gradient(to bottom right, #2c3e50, #bdc3c7);
}
.swatch.ten {
  background-image: linear-gradient(to bottom right, #6d0101, #fe5b5b);
}
.swatch.eleven {
  background-image: linear-gradient(to bottom right, #870000, #190a05);
}
.swatch.twelve {
  background-image: linear-gradient(to bottom right, #0b486b, #ec6b2a);
}
/* List of Pages */

.parentList {
  overflow: hidden;
  width: 100%;
  height: 55vmin;
}

.listOfPages {
  padding-right: 17px;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.pageElement {
  cursor: pointer;
  padding: 7px;
  padding-left: 15px;
  margin: 10px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 14px;
}

.pageElement:hover {
  background-color: #eeeeee;
  transition: ease 0.1s;
}
