/* this is for the description */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

.description {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: white;
  width: 260px;
  height: 710px;
  border-top-right-radius: 20px;
  text-align: center;
  justify-content: center;
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2);
}

.nestedInputForm {
  display: flex;
  text-align: center;
  justify-content: center;
}

.description span {
  color: white;
  z-index: 1;
}

.description .descriptionProp {
  margin-top: 30px;
  color: #ffffff;
  background: none;
  padding: 10px;
  resize: none;
  width: 220px;
  height: 300px;
  border: white solid 1px;
  word-wrap: break-word;
  font-size: 12px;
}

.nestedAcceptButton {
  margin-top: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px #ffffff solid;
}

.nestedAcceptButton:hover {
  opacity: 0.8;
}

.nestedInput {
  border: none;
  background: none;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
  height: 30px;
  width: 200px;
  margin: 10px;
  font-size: 14px;
  color: #ffffff;
  outline: none;
}

.nestedInput::placeholder {
  color: #ffffff;
}

.nestedItem {
  margin-left: 5px;
}

.groupCheckbox {
  display: flex;
  padding: 5px;
}
