@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
.menu {
  background-color: none;
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
  padding-top: 20px;
}
