@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  font-family: "Nanum Gothic", sans-serif;
}

.parentContainer {
  display: inherit;
  justify-content: center;
  min-width: 100%;
}

.container {
  display: inherit;
  margin: 100px;
}

.page {
  background-color: white;
  text-align: center;
  position: relative;
  width: 450px;
  height: 660px;
  box-shadow: inset 0 0 0, 0 20px 20px rgba(0, 0, 0, 0.2);
}

.pageTitle {
  font-size: 30px;
  padding-top: 1em;
  border: none;
  text-align: center;
}

hr {
  color: #eeeeee;
  width: 200px;
}

.page .toDoList {
  text-align: left;
  height: 75%;
  padding: 20px;
  overflow-y: auto;
}

.page .footer {
  min-height: 60px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.page .footer .newTaskInput {
  border: none;
  border-bottom: 1px solid #d3d3d3;
  width: 300px;
  margin: 10px;
  font-size: 17px;
}

.submitNewTask {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  font-size: 16px;
  border: solid 1px #d3d3d3;
  cursor: pointer;
}

.submitNewTask:hover {
  background-color: #eeeeee;
}
