.toDoItem {
  border: 1px #d3d3d3 solid;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
}

.toDoItem .toDoCheck {
  margin-right: 10px;
}

.toDo {
  display: inline-block;
  max-width: 300px;
}

.indivMenu {
  cursor: pointer;
  position: absolute;
}

.indivMenu.desc {
  right: 15px;
  width: 20px;
  height: 20px;
}
.indivMenu.del {
  right: 45px;
  width: 20px;
  height: 20px;
}
